.bottom-menu-container {
    width: 100vw;
    bottom: 0;
    position: fixed;

    background: linear-gradient(360deg, #242424, #24242400);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

.bottom-menu-container button {
    margin: 15px;
    font-size: 30px;
    background-color: #242424d2;
    background: none;
    border: none;
}

.bottom-menu-container .link {
    color: rgba(255, 255, 255, 0.87);
    text-decoration: none;
}

.bottom-menu-container .active {
    color: #8685EF;
}

