.header-container {
    width: 100vw;
    top: 0;
    position: fixed;
    background: linear-gradient(180deg, #242424, #24242400);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    z-index: 2;
}

.header-container p {
    margin: 15px;
}

.header-title {
    z-index: 3;
    font-size: 20px;
    margin: 20px;
    position: absolute;
    top: 0;
    background: linear-gradient(45deg, #8685EF, #00B38F 80%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.profile-small {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.profile-small img {
    margin: 15px;
    width: 42px;
    height: 42px;
    border: 1px solid transparent;
    border-radius: 25px;
}

.profile-small p {
    margin: 0;
}